/* Hero Section */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url(../assets/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 43vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero h3 {
    padding: 3rem;
  }
  
  .hero .wrapper {
    width: 90%;
    margin: auto;
  }
  
  .custom-shape-divider-bottom-1610229675 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610229675 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 181px;
}

.custom-shape-divider-bottom-1610229675 .shape-fill {
    fill: #FFFFFF;
}